:root {
  --bg-mainBG: #000;
  --bg-headerBG: #131313;
  --bg-hoverBG: #0095c2;
  --bg-activeBG: #00c3ff;
  --bg-sliceBG: #bbefff;
  --txt-color: #ccc;
}

/* --- Fonts --- */
@font-face {
  font-family: 'Rolam';
  src: url(../../Assets/fonts/ROLAM-PersonalUse.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* --- Global Styles --- */
body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-mainBG);
  color: var(--txt-color);
  font-family: 'Space Mono', sans-serif;
}
.footer-container {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--bg-headerBG);
    border-radius: 10px;
    padding: 20px 0;
    margin-top: 50px;
}

.footer-header{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.footer-header img{
    width: 180px;
    height: 60px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.footer-footer{
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-footer p{
    font-size: 14px;
    color: var(--txt-color);
}
.footer-footer .disclaimer{
    font-size: 12px;
    color: var(--txt-color);
}
